<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.utilits.ISuiteListener" />
		<listener class-name="com.utilits.ITestListener" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="MyAppTest.PowerBi" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
